---
import Layout from '../layouts/Layout.astro';
import PlaygroundEl from '../components/Playground.tsx';
---

<Layout title='Playground | Wisely'>
  <h1 class="text-2xl mb-4 text-center">Wisely Playground</h1>

  <PlaygroundEl client:load className="px-2 lg:px-4" />

</Layout>
