---
import Head from '../components/Head.astro';
import '../styles/tailwind.css';

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const ogImageUrl = new URL('/og.jpg', Astro.url);
---
<html lang="en">
  <Head
    title={title}
    description={description}
    ogImage={ogImageUrl}
  />
  <body>
    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
